body {
  font-family: sans-serif;
  text-align: center;
  color: #eee;
  min-height: 98vh;
}

section {
  margin: 3rem auto;
  width: 95%;
  max-width: 50rem;
  background-color: #424242;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 6px;
}

button {
  cursor: pointer;
  font: inherit;
  background-color: #f8d918;
  border: 1px solid #f8d918;
  color: rgb(24, 24, 11);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

button:hover {
  background-color: #ffe84f;
  border-color: #ffe84f;
}

.blue-bg {
  background-color: #3289b2;
  padding: 0.25rem;
}

.logo {
  width: fit-content;
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
}

::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.darker {
  color: #424242;
}

.subheader {
  color: #5a5a5a;
}
